@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 10% 96%;
    --foreground: 240 10% 3.9%;
    --card: 240 10% 96%;
    --card-foreground: 240 10% 3.9%;
    --popover: 240 10% 96%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 262 82% 56%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 5% 90%;
    --secondary-foreground: 240 10% 3.9%;
    --muted: 240 5% 90%;
    --muted-foreground: 240 4% 46%;
    --accent: 240 5% 85%;
    --accent-foreground: 240 10% 3.9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5% 88%;
    --input: 240 5% 92%;
    --ring: 262 82% 56%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.75rem;

    --sidebar-background: 240 5% 98%;
    --sidebar-foreground: 240 10% 3.9%;
    --sidebar-primary: 262 82% 56%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 10% 94%;
    --sidebar-accent-foreground: 262 82% 56%;
    --sidebar-border: 240 5% 90%;
    --sidebar-ring: 262 82% 56%;
  }

  .dark {
    --background: 240 6% 10%;
    --foreground: 0 0% 98%;
    --card: 240 6% 10%;
    --card-foreground: 0 0% 98%;
    --popover: 240 6% 10%;
    --popover-foreground: 0 0% 98%;
    --primary: 262 82% 66%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 5% 15%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 5% 15%;
    --muted-foreground: 240 4% 56%;
    --accent: 240 4% 18%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5% 20%;
    --input: 240 5% 22%;
    --ring: 262 82% 66%;

    --sidebar-background: 240 6% 12%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 262 82% 66%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 6% 18%;
    --sidebar-accent-foreground: 262 82% 70%;
    --sidebar-border: 240 5% 22%;
    --sidebar-ring: 262 82% 66%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
